<footer class="border-top footer bg-dark text-light py-3">
    <div class="container text-center">
        <i class="bi bi-book me-2"></i>
        &copy; 2024 - Tüm Hakları Saklıdır.<br>Eda Özge Uğurlu
    </div>
</footer>

